body{
    text-align: center;
    gap: 10px;
    height: 100vh;
    background-image: url("bakcground.jpg");
    background-size:cover;
    font-family:"Avenir Next";
}

header{
    text-align:center;
    margin:20px auto;
}

.logo{
    height:75px;
    opacity:0.9;
    margin-bottom:10px;
    width:70%;
}

.footer-name{
    margin-top:20px;
    height:50px;
    opacity:0.8;
    margin-bottom:20px;
    margin-left:20px;
    width:30%;
}

.cover1{
    background-color:rgba(34, 49, 57,1);
    color:white;
    width:90%;
    margin: 30px auto;
    border: 4px solid #136F63;
    padding-right:10px;
    padding-left:10px;
    border-bottom-right-radius:30px;
    border-top-left-radius:30px;
}

.cover2{
    justify-content: center;
    align-items: center;
    background-color:rgba(50, 59, 63,1);
    color:black;
    width:400px;
    margin: 30px auto;
    border: 2px solid #136F63;
    padding-right:20px;
    padding-left:20px;
    padding-bottom:10px;
    padding-top:10px;
    text-align:center;
    height:270px;
    border-bottom-right-radius:30px;
    border-top-left-radius:30px;
}

.cover3{
    background-color:rgba(34, 49, 52,1);
    color:white;
    width:90%;
    margin: 30px auto;
    border: 4px solid #136F63;
    padding-right:10px;
    padding-left:10px;
    height:100px;
    border-bottom-right-radius:30px;
    border-top-left-radius:30px;
    text-align:center;
    align-items: center;
    justify-content:center;
}

.top{
    display: flex;
}

.bottom{
    display: flex;
}

.puzzle{
    margin: 5px;
}

.piece2_1{
    background-position:0 0;
    width:205px;
}

.piece2_2{
    background-position: -205px 0;
    width:205px;
}

.piece3_1{
    background-position:0 0;
    width: 140px;
}

.piece3_2{
    background-position:-140px 0;
    width: 140px;
}

.piece3_3{
    background-position:-280px 0;
    width: 140px;
}

.piece10_1{
    background-position:0 0;
    width: 80px;
    height: 125px;
}

.piece10_2{
    background-position:-90px 0;
    width: 80px;
    height: 125px;
}

.piece10_3{
    background-position:-180px 0;
    width: 80px;
    height: 125px;
}

.piece10_4{
    background-position:-270px 0;
    width: 80px;
    height: 125px;
}

.piece10_5{
    background-position:-360px 0;
    width: 80px;
    height: 125px;
}

.piece10_6{
    background-position:0 -125px;
    width: 80px;
    height: 125px;
}

.piece10_7{
    background-position:-90px -125px;
    width: 80px;
    height: 125px;
}

.piece10_8{
    background-position:-180px -125px;
    width: 80px;
    height: 125px;
}

.piece10_9{
    background-position:-270px -125px;
    width: 80px;
    height: 125px;
}

.piece10_10{
    background-position:-360px -125px;
    width: 80px;
    height: 125px;
}

/*#display_image{
    width: 450px;
    height: 254px;
    padding: 5px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}*/

#display_image_game{
    display: flex;
    width: 450px;
    height: 254px;
    padding: 5px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    margin:auto;
}

#game{
    display:none;
    height: 250px;
    margin-top:30px;
    margin-left:auto;
}

#pre-game{
    text-align:center;
    align-items: center;
    margin-top: 100px;
}